//Variaveis de cor
$primary-color: #2f2f32; //#a82827;
$primary-light: #58585b;
$primary-dark: #05050a;
$secondary-color: #78909c;
$secondary-light: #a7c0cd;
$secondary-dark: #4b636e;
$menu-selected: #88cdcc;
$menu-bg: #4b636e;
$card-active: #b7cdc8;
$top-bar: #2f2f32;

$branco-texto: #fafafa;
$cinza-escuro: #252525;
$cinza-texto: #6a6a6a;
$cinza-claro: #b0b0b0;
$cinza-input: #ebebeb;
//$background-sistema: #e7efde; //Cor do fundo do sistema
$background-sistema: #fff; //Cor do fundo do sistema


//Alertas e modais
$error: #e13838;
$alert: #dbbd47;
$sucess: #6ecb58;


//Tabelas
$texto-tabela: #555555;
$zebrado-tabela: #ebebeb;

//Formularios
$form-hint-color: #3ca543;
$yes: #4AB370;
$no: #ff3d3d;
$cinza-botoes: #555555;
$send-btn: #2f90a8;

$upvote-color: rgb(15, 129, 63);
$txt-forum-card: #484848;
$inner-border-color: #d1d1d1;
