.footer-copyright {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 3rem;
}

.copyright{
    font-size: .7rem;
    color: rgba(0,0,0,.4);
    margin-left: 5.25rem;
    z-index: -1;
}
