/* Overriding bootstrap styles to fit form-item aurelia slot templating behavior */

.form-control-master {
  position: relative;
}

.form-control-wrapper.is-invalid input.form-control{
  border-color: lighten(#dc3545, 20%);
  background: lighten(#dc3545, 35%);
  color: darken(#8a8a8a, 10%);
}

.form-control-wrapper.is-invalid .form-control:focus{
  box-shadow: none;
  background: #d5d3d4;
}

.form-control-wrapper.is-invalid .form-control ~ .invalid-feedback,
.form-control-wrapper.is-invalid .form-control ~ .invalid-tooltip{
  display: block;
}

/* Auto complete styles */
div.vs-ac {
  display: flex;
  flex-direction: column;
  position: relative;
  //margin: .5rem 0; ELIMINA O ESPACO ENTRE O LABEL E O CAMPO DE INPUT
}
label.vs-ac-label {
  font-size: 1rem;
  color: #8a8a8a;
  min-height: 1.25rem;
  display: none; //ELIMINA O ESPACO ENTRE O LABEL E O CAMPO DE INPUT
}
span.vs-ac-empty {
  font-size: smaller;
  padding-left: 0.5rem;
  color: darken(#CACACA, 20%);
}
input.vs-ac-input {
  padding: .5rem;
  margin-top: -.2rem;
  font-size: 1rem;
  outline-color: #efefef;
  outline-width: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 1px;
  border-radius: 6px;
  text-decoration: none;
  width: -webkit-fill-available;
  transition: background-color .1s ease;
}
input.vs-ac-input::-moz-focus-inner {
 border: 0;
}
input.vs-ac-input::-webkit-input-placeholder {
  color:    darken(#CACACA, 20%);
}
input.vs-ac-input:-moz-placeholder {
  color:    darken(#CACACA, 20%);
  opacity:  1;
}
input.vs-ac-input::-moz-placeholder {
 color:    darken(#CACACA, 20%);
 opacity:  1;
}
input.vs-ac-input:-ms-input-placeholder {
  color:    darken(#CACACA, 20%);
}
input.vs-ac-input::-ms-input-placeholder {
  color:    darken(#CACACA, 20%);
}
input.vs-ac-input:focus {
  background-color: #f9f9f9;
  outline: none;
}
input.vs-ac-input:active {
  outline: none;
}
input.vs-ac-input-selected {
  background: lighten($primary-color, 30%);
  color: white;
  border: none;
  outline: none;
  outline-style: none;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 700;
  padding: 0.5rem;
}
button.vs-ac-close {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: .5rem;
  margin-right: .3rem;
  outline: none;
  border: none;
  background: none;
  font-size: medium;
  cursor: pointer;
  color: white;
  font-weight: 700;
}
button.vs-ac-close:before {
  content: 'x';
}

div.vs-ac-list {
  position: absolute;
  width: -webkit-fill-available;
  margin-top: 3.32rem;
}
div.vs-ac-list-container {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 0px 1px 1px 1px;
  border-radius: 0 0 .2rem .2rem;
  min-height: 10rem;
  max-height: 10rem;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  flex: 1;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: flex 2s ease;
  background: white;
  z-index: 1;
  ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    li {
      margin: 0;
      padding: 0;
      width: 100%;
      &:hover {
        cursor: pointer;
        background-color: lighten(grey, 35%);
      }
    }
  }
  a {
    width: 100%;
    margin: 0;
    padding: 0.15rem 1rem;
    text-decoration: none;
    display: block;
    color: $primary-color;
    &:hover {
      color: $primary-color;
      cursor: pointer;
    } 
  }
}
div.vs-ac-list select {
  background: #ffffff;
  border: none;
  overflow: auto;
  overflow-x: hidden;
  outline: none;
  width: -webkit-fill-available;
}
div.vs-ac-list select option {
  padding: 1rem .5rem 2rem .5rem;
  position: relative;
  white-space: pre-wrap;
}
div.vs-ac-list select option:hover {
  background: #e6e6e6;
  transition: all .3s ease;
}
div.vs-ac-list select option:after {
  content: attr(data-description);
  position: absolute;
  bottom: 1rem;
  left: .5rem;
  font-size: smaller;
  color: #bdbdbd;
  font-style: italic;
}
div.vs-ac-list-container.loading {
  background: #f9f9f9;
}
div.vs-ac-list-container.loading select{
  background: #f9f9f9;
}
div.vs-ac-loader {
  border: 4px solid #e2e2e2;
  border-top: 4px solid #aeb1b3;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 1;
  right: 50%;
  top: 40%;
  align-self: center;
  animation: spin 2s linear infinite;
}

form-item input {
 // z-index: -5!important;
 background: $cinza-claro;
}
//Auto complete

.invalid-feedback {
    display: none;
    z-index: 4;
    font-size: 1rem;
    font-weight: 100;
    color: white;
    position: absolute;
    width: auto;
    padding: 1rem;
    left: 50%;
    bottom: -3.8rem;
    transform: translate(-50%);
    background: $error;
    border-radius: 6px;
    color: white!important;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    &:before {
      content:'';
      position: absolute;
      background: $error;
      left: 50%;
      top: -.15rem;
      width: 1rem;
      height: 1rem;
      transform: rotate(45deg) translate(-50%)
    }
}

.invalid-feedback input[type="password"]:active {
      background: $cinza-claro!important;
    }
    