.top-bar {
  height: 4rem;
  padding-left: 1.5rem!important;
  background: darken($secondary-dark, 10%);
  box-shadow: 1px 2px 2px rgba(0,0,0,.3)!important;
}

.logo {
    width: 3.5rem;
    color: $branco-texto;
    font-size: 3rem;    
}

.brand {
  display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 2.25rem;
    font-weight: 900;
    line-height: inherit;
    white-space: nowrap;
}


.log-off-out{  
  background: none;
  margin: .5rem;
  text-align: left;
  color: $branco-texto;
  border: none;
  min-width: 0rem;
  transition: opacity 1s ease;
  i {
    margin-left: .5rem;
  }
  &:hover {
    opacity: .7;
    cursor: pointer;
  }
}
.nav-item {
  background: darken($secondary-dark, 10%);  
  background: darken($secondary-dark, 10%);
}

.fa-login {
    color: white;
    position: absolute;
    float: left;
    top: .25rem;
}


.logged-user {
  color: $branco-texto;
  font-weight: bold;
  font-size: 1.25rem;
  top : 1rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);

  .logged-text{
    margin-left: 1.75rem;
  }
}


@media screen and (max-width: 400px) {
    .nav-item {
        left: -100%;
    }
}

.nav-item  .btn-secondary:active,
.nav-item .btn-secondary.active,
.nav-item .show > .btn-secondary.dropdown-toggle {
    background: none;
    border: none;
    box-shadow: 0;
}

.nav-item  .btn-secondary:focus, .btn-secondary.focus {
    box-shadow: none;
}

@media screen and (max-width: 475px) {
    .logo {
        display: none;
    }
}

